.toptext{
  font-size: 60px;
  text-shadow: 5px 5px 5px black;
  color: black;
  width: 100%;
  padding: 50px;
  background-color: rgb(140, 140, 140);
  font-family:'Courier New', Courier, monospace;
  text-align: center;
}
.top_content{
  display: flex;
}
@media only screen and (max-width: 600px){
  .newarrivalcard{
    width: 230px;
  }
  .newarrivalcard_image{
    height: 230px;
    width: 230px;
  }
  .top_content{
    flex-wrap: wrap;
  }
}